div
  img(ng-src="{{current_channel.user.image}}")
  h1 {{current_channel.user.name}}/{{current_channel.name}}
  div(ng-repeat='p in posts')
    p {{p.body}}
  p create Post
    input(ng-model='new_post')
    button(ng-click='createPost(new_post)')
